<footer id="contact">
    <div class="main-content">
        <div class="left box">
            <h2>
                Projects</h2>
            <div class="content">
                <p>Here are the list of my other projects.
                </p>
                <div>
                    <a href="https://nootepad.netlify.app/">Notepad App</a>
                </div>
                <div>
                    <a href="https://simongameee.netlify.app/">Simon game</a>
                </div>
                <div>
                    <a href="https://weaponapp.netlify.app/">Weapon sound app</a>
                </div>
                <div>
                    <a href="http://toddo-list.herokuapp.com/">Todo list</a>
                </div>
                <div>
                    <a href="https://tinddog.netlify.app/">Tindog</a>
                </div>
                <div class="social">
                    <a href="https://www.facebook.com/saadaslam6866"><span class="fab fa-facebook-f"></span></a>
                    <a href="https://twitter.com/Saad61459245?t=pV2r39aeQnsGbpXxU-3eFA&s=03"><span
                            class="fab fa-twitter"></span></a>
                    <a href="https://instagram.com/saadkhan9456"><span class="fab fa-instagram"></span></a>
                    <a href=""><span class="fab fa-youtube"></span></a>
                </div>
            </div>
        </div>
        <div class="center box">
            <h2>
                Address</h2>
            <div class="content">
                <div class="place">
                    <span class="fas fa-map-marker-alt"></span>
                    <span class="text">Pakistan Shahdara more Lahore</span>
                </div>
                <div class="phone">
                    <span class="fas fa-phone-alt"></span>
                    <span class="text">+316-4897605</span>
                </div>
                <div class="email">
                    <span class="fas fa-envelope"></span>
                    <span class="text">saadaslam6866@gmail.com</span>
                </div>
            </div>
        </div>
        <div class="right box">
            <h2>
                Contact us</h2>
            <div class="content">
                <form action="/" method="post">
                    <div class="email">
                        <div class="text">
                            Email *</div>
                        <input type="email" name="email" required>
                    </div>
                    <div class="msg">
                        <div class="text">
                            Message *</div>

                        <textarea name="message" rows="2" cols="25" required></textarea>


                        <br />
                        <div class="btnn">
                            <button type="submit" name="contactForm" value="contact">Send</button>
                        </div>
                        <div class="bottom">
                            <center>
                                <span class="credit">Created By <a href="">SAAD
                                        KHAN</a> | </span>
                                <span class="far fa-copyright"></span> 2022 All rights reserved.
                            </center>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</footer>


 <!-- <script type="text/javascript">
      $(window).on("load", function(){
        $(".ccontainer").fadeOut(9000);
      }) 
    </script>  -->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>